table {
    border-collapse: collapse;
}

td, th {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
    width: 30px;
    height: 30px;
}

td {
    color: black;
}

td:nth-child(6), td:nth-child(7) {
    color: green;
}

tr:nth-child(3) td:nth-child(7) {
    color: red;
    font-weight: bold;
}

tr:nth-child(5) td:nth-child(6) {
    color: blue;
    font-weight: bold;
}

tr:nth-child(2) td:nth-child(-n+6) {
    color: gray;
}

tr:last-child td:nth-child(n+3) {
    color: gray;
}