.games li:nth-child(2n) {
    background-color: rgb(135, 209, 234);
}

.movies li:nth-child(3n + 2) {
    background-color: rgb(144, 238, 144);
}

.subjects dt:first-of-type,
.subjects dt:last-of-type {
    color: rgb(33, 65, 209);
}

.subjects dd:first-of-type,
.subjects dd:last-of-type {
    background-color: rgb(209, 121, 121);
}